.homeContainer {
  padding: 48px 64px;
  max-width: 1440px;
  margin: 0 auto;
}

.home {
  padding: 260px 64px;
  background:
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    url(../../images/hero-bg.jpg) lightgray 0px -192.086px / 100% 138.099% no-repeat;
}
.title {
  margin-bottom: 16px;
  font-size: 48px;
  font-weight: 600;
  line-height: 0.67;
  color: var(--input-bgc);
}

.homeText {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  color: var(--input-bgc);
}
.homeBtn {
  width: 173px;
  height: 56px;
  padding: 16px 48px;
  justify-content: center;
  align-items: center;

  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.08px;
  line-height: 1.5;
  color: var(--text-color-white);

  border: 1px solid transparent;
  border-radius: 200px;
  background-color: var(--btn-color);
  transition: background-color var(--cubic);
}
.homeBtn:hover,
.homeBtn:focus {
  background-color: var(--btn-color-focus);
  cursor: pointer;
}
