.home {
  padding: 260px 64px;
  background:
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    url('../../images/hero-bg.jpg') lightgray 0 -192.086px / 100% 138.099% no-repeat;
}

.homeContainer {
  max-width: 1440px;
  margin: 0 auto;
  padding: 48px 64px;
}

.title {
  margin-bottom: 16px;

  font-size: 48px;
  font-weight: 600;
  line-height: 0.67;

  color: var(--input-bgc);
}

.homeText {
  margin-bottom: 40px;

  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;

  color: var(--input-bgc);
}
