.header {
  background-color: var(--input-bgc);
}

.headerContainer {
  max-width: 1440px;
  margin: 0 auto;
  padding: 24px 64px;
  display: flex;
  align-items: center;
  gap: 450px;
}

.valuesIcons {
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.navList {
  display: flex;
  column-gap: 32px;
}

.listItem {
}

.link {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  transition: color var(--cubic);
}

.link:focus,
.link:hover {
  color: var(--btn-color-focus);
}

.active {
  color: var(--btn-color-focus);
}
