.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 48px 64px;
}

.topSection {
  display: flex;
  gap: 24px;
  align-items: flex-start;
  margin-bottom: 88px;
}

.gallerySection {
  width: 638px;
}

.mainImage {
  width: 638px;
  height: 505px;
  object-fit: cover;
  border-radius: 16px;
  margin-bottom: 27px;
}

.gallery {
  display: flex;
  gap: 32px;
}

.galleryImage {
  width: 135px;
  height: 145px;
  object-fit: cover;
  border-radius: 16px;
  cursor: pointer;
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.mainInfo {
  display: flex;
  padding: 24px;
  margin-bottom: 16px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 16px;
  background-color: var(--input-bgc);
}

.titleName {
  margin-bottom: 8px;

  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
}

.meta {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.meta span {
  display: flex;
  align-items: center;
  gap: 4px;

  font-size: 16px;
  line-height: 1.5;
}

.starIcon {
  fill: var(--rating-color);
}

.mapIcon {
  fill: var(--main-color);
}

.price {
  margin-bottom: 24px;

  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
}

.description {
  margin-bottom: 24px;

  font-size: 16px;
  line-height: 1.5;
  color: var(--grey-text);
}

.bottomSection {
  margin-top: 44px;
}

.sectionTitle {
  margin-bottom: 48px;

  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}

.bottomContent {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}
