.filterContainer {
  width: 439px;
  flex-shrink: 0;
}

.label {
  margin-bottom: 8px;
  font-size: 16px;
  color: var(--grey-text);
}

.inputWrapper {
  position: relative;
  margin-bottom: 40px;
  border-radius: 12px;
}

.inputIcon {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--main-color);
}

.input {
  width: 300px;
  padding-left: 48px;
  height: 44px;
  border: 1px solid transparent;
  border-radius: 12px;
  background-color: var(--input-bgc);
}

.sectionName {
  margin-bottom: 32px;
  font-size: 16px;
  font-weight: 500;
  color: var(--general-text-color);
}

.sectionTitle {
  margin-bottom: 48px;
  position: relative;
  display: inline-block;
}

.sectionTitle::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -24px;
  width: 360px;
  height: 2px;
  background-color: var(--border-color);
  border-radius: 2px;
}

.grid {
  margin-bottom: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px 12px;
}

.filterBtn {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 112px;
  height: 96px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: white;
  border: 1px solid var(--border-color);
  fill: var(--main-color);
}

.filterBtn:hover,
.filterBtn:focus {
  border: 1px solid var(--btn-color);
}

.btnIcon {
  width: 32px;
  height: 32px;
  margin-bottom: 8px;
  flex-shrink: 0;
}

.btnText {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  letter-spacing: -0.08px;
  white-space: normal;
  word-break: break-word;
}

.searchBtn {
  width: 166px;
  padding: 16px 60px;
  justify-content: center;
  align-items: center;

  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.08px;
  color: var(--text-color-white);

  background-color: var(--btn-color);
  border-radius: 200px;
  border: 1px solid transparent;
  transition: background-color var(--cubic);
}

.searchBtn:hover,
.searchBtn:focus {
  background-color: var(--btn-color-focus);
}

.isActive {
  border: 1px solid var(--btn-color);
}
