:root {
  margin: 0 auto;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  color: #101828;
  background-color: #fff;

  --main-color: #101828;
  --general-text-color: #475467;
  --text-color-white: #fff;
  --grey-text: #6c717b;
  --input-bgc: #f7f7f7;
  --badges-bgc: #f2f4f7;
  --border-color: #dadde1;
  --btn-color: #e44848;
  --btn-color-focus: #d84343;
  --rating-color: #ffc531;

  --cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  font-family: sans-serif;
  line-height: 1.5;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

input,
button {
  font: inherit;
  cursor: pointer;
  outline: transparent;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
